*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid black;
    width: 20%;
    height: 60vh;
    margin-top: 20vh;
    border-radius: 10px;

}
.btn-custom{
    width: 100%;
    margin-top: 20px;
}
p{
    color: grey;
}
a{
    text-decoration: none;
}